body {
    margin: 0;
}

.error-container {
    height: 100vh;
    background-image: url(/img/404-bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    &__wrapper {
        width: 100%;
        max-width: 590px;
        margin: 0 auto;
        h2 {
            font-size: 38px;
            font-family: 'Oswald Medium';
            color: #fff;
            text-align: center;
        }

        h1 {
            font-size: 200px;
            font-family: 'Oswald Medium';
            color: #ED3D4F;
            text-align: center;
            text-shadow: 3px 2px 0px #fff;
        }

        .go-home-btn {
            font-size: 16px;
            font-family: 'Oswald Medium';
            color: #fff;
            text-align: center;
            outline: none;
            text-decoration: none;
            background-color: #000;
            border: 2px solid #ED3D4F;
            border-radius: 20px;
            padding: 7px 30px;
            display: table;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 992px) {
    .error-container__wrapper h2 {
        font-size: 30px;
    }

    .error-container__wrapper h1 {
        font-size: 170px;
    }
}